.cashback-btn {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0px 15px;
  height: 40px;
  background-color: rgb(78, 255, 191);
  font-size: 15px;
  color: #390066;
  font-weight: 700;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.cashback-btn > img {
  margin-top: -5px;
}

.cashback-btn:hover {
  background-color: #90ffd7;
}

#title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  background-image: url(../img/cashback.jpg);
  background-repeat: no-repeat;
  background-position: left;
  color: #fff;
  padding: 35px;
}

.title {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 15px;
}

.details {
  margin: 0;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.footer-btn {
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-weight: 500;
  line-height: 1.4;
  padding: 2px 10px;
  position: relative;
  font-size: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.footer-btn:focus {
  color: #fff;
}

.footer-btn:hover {
  background-color: #3582c4;
  color: #fff;
}

.no-padding {
  padding: 0px !important;
}

.announcement-btn {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0px 15px;
  height: 40px;
  background-color: rgb(108, 23, 255);
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  margin-right: 10px;
  display: flex;
  align-items: center;
  --active: 0.15;
    box-shadow: 0 0 calc(var(--active) * 8em) calc(var(--active) * 1em) hsl(260 97% 61% / 0.75),
      0 0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
      0 -0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc(var(--active) * 60%)) inset !important;
}



.announcement-btn:hover {
  background-color: rgb(138, 79, 240);
}

#announcement-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  background-image: url(../img/bit-social-promo.png);
  background-repeat: no-repeat;
  background-position: left;
  color: #fff;
  padding: 35px;
}